* {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    background-color: #000;
    height: 100%;
   
}
#about_me {
    width: auto;
    padding: 1em;
}
#about_me h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 1em;
    font-size: 2em;
    color: #fff;
}
#about_me p {
    text-align: justify;
    font-size: 1em;
    color: #fff;
}
.content img {
   height: 100%;
}