* {
    margin: 0;
    padding: 0;
}
main {
    height: 550px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}
#about_me {
    width: 70%;
    padding: 1em;
}
#about_me h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 1em;
    font-size: 2em;
}
#about_me p {
    text-align: justify;
    font-size: 30px;
}
.content img {
    max-width: 100%;
    height: 35%;
    width: 30%;
    object-fit: cover;
}