#code_form {
    flex: 0 0 50%;
    box-sizing: border-box;
}
#codebox {
    width: 99%;
    margin: 0px 5px;
    resize: none;
}
#output_frame {
    flex: 0 0 50%;
    box-sizing: border-box;
    height: 300px;
    
}
#code_output {
    height: 100%;
    background-color: #eee;
    margin: 0px 5px;
    white-space: pre-line;
    overflow: auto;
}
#code_form label {
    color: #fff;
    margin: 5px 0px;
    font-size: 20px;
}
input[type="submit"] {
    margin: 5px 0px;
    width: 100px;
    height: 30px;
}
input[type="submit"]:hover {
    background-color: #45a049;
    font-weight: bold;
}
#output_frame label {
    color: #fff;
    font-size: 20px;
    margin: 0px 5px;
}
.info {
    width: 100% auto;
    margin: 30px;
    padding: 20px;
    border: 5px solid #f00;
}
.info p {
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
}
@media (max-width: 768px) {
    #code_from, #output_frame {
        flex: 0 0 100%;
    }
}