* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
.code_frame {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}
#code_form {
    width: 50%;
}
#codebox {
    width: 99%;
    height: 250px;
    margin: 5px 5px;
    resize: none;
}
#output_frame {
    width: 50%;
    height: 300px;
    
}
#code_output {
    height: 100%;
    background-color: #eee;
    margin: 0px 5px;
    white-space: pre-line;
    overflow: auto;
}
#code_form label {
    color: #fff;
    margin: 0px 0px;
    font-size: 20px;
}
input[type="submit"] {
    margin: 5px 0px;
    width: 100px;
    height: 30px;
}
input[type="submit"]:hover {
    background-color: #45a049;
    font-weight: bold;
}
#output_frame label {
    color: #fff;
    font-size: 20px;
    margin: 0px 5px;
}
.info {
    width: 100% auto;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
.info p {
    color: #fff;
    font-size: 1.2em;
    text-align: justify;
}