* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    background-color: #000;
    padding-bottom: 50px;
}
#banner {
    background-image: url("../images/javascript-on-screen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#banner h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    color: #fff;
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #151515;
    width:100%;
}
.menu li {
    display: inline-block;   
}
.menu ul {
    list-style-type: none;
    background-color: #151515;

}
.menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    padding: 0.1em 0.1em;
    margin: 0.1em 2em;
    color: #fff;
}
.content {
    display: flex;
    margin: 30px;
}
#current {
    text-decoration: underline;
}
footer {
    bottom: 0;
    position: fixed;
}
a:hover {
    font-weight: bold;
}
@media (max-width: 768px) {
    .box {
        flex: 0 0 100%;
        border-right: 5px solid #464646;
    }
    .content {
        display: block;
    }
    #banner {
        min-height: 100px;
        max-height: 150px;
    }
    .menu li a {
        font-size: 3vw;
    }
}