* {
    border: 0;
    padding: 0;
    margin: 0;
}
main {
    flex: 1;
    background-color: #000;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
}
#banner {
    background-image: url("../images/javascript-on-screen.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#heading {
    text-align: center;
    font-size: 5vw;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #151515;
    width:100vw;
}
.menu li {
    display: inline-block;
}
.menu ul {
    list-style-type: none;
    background-color: #151515;
    overflow: none;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 3vw;
    padding: 0.1em 0.1em;
    margin: 0.1em 2em;
    color: #fff;
}
.content {
    display: flex;
    margin: 30px;
}
.shared {
    flex: 0 0 50%;
    box-sizing: border-box;
}
#current {
    text-decoration: underline;
}
footer {
    bottom: 0;
    margin: 0;
    padding: 0;
}
a:hover {
    font-weight: bold;
}
@media (max-width: 768px) {
    .box, {
        flex: 0 0 100%;
    }
    .content {
        display: block;
    }
}