#quiz_container, #quiz_links {
    padding: 15px;
    max-height: 600px;
    min-height: 600px;
}
#quiz_container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex: 0 0 68%;
    max-width: 63%;
    background-color: #fff;
}
#quiz_links {
    margin-right: 15px;
    flex: 0 0 35%;
    background-color: #000;
}
@media (max-width: 768px) {
    #quiz_container{
        flex: 0 0 100%;
    }
    #quiz_container {
        margin-left: 0;
        margin-top: 15px;
        max-width: 100%;
    }
    #quiz_links {
        margin-right: 0;
        margin-bottom: 15px;
        min-height: 400px;
        max-height: 400px;
    }
}
.links {
    margin: 15px;
    font-size: 1.5em;
}
.links li {
    display: flex;
    width: 100%;
    
}
.links li p {
    color: #00d500;
    margin: 5px;
}
.links a {
    margin: 5px;
    color: #fff;
}
#quiz_links h3 {
    font-size: 35px;
    margin-left: 15px;
    color: #fff;
}
.quiz.active {
    display: block;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    flex: 1;
}
.quiz pre {
    margin-top: 15px;
    font-size: 25px;
    color: #006600;
}
.quiz {
    display: none;
}
.quiz p {
    padding: 5px;
    font-size: 25px;
    color: #000;
}
.quiz button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 3px solid #ccc;
}
.quiz button:hover {
    font-weight: bold;
    background-color: #0f0;
}
.blank_l, .blank_s {
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    white-space: nowrap;
    margin: 3px;
}
.blank_l {
    width: 120px;
    height: 30px;
}
.blank_s {
    width: 30px;
    height: 30px;
}
#results_frame {
    width: 100%;
    height: 20%;
    min-height: 120px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#results {
    display: flex;
    height: 70%;
}
#quiz_output {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    min-height: 70px;
    color: #000;
    background-color: #fff;
    border-left: 5px solid #aaa;
    border-top: 5px solid #aaa;
    border-bottom: 5px solid #aaa;
}
#quiz_result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    min-height: 70px;
    color: #000;
    background-color: #ccc;
    border: 5px solid #aaa;
}
#quiz_container label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.5em;
}