section#website_info a, section#server_info a{
    color: #a72e2e;
    font-size: 2em;
    text-align: left;
}

section#website_info p, section#server_info p{
    margin-top: calc(var(--margin)*2);
    font-size: 1.5em;
}

section#website_info, section#server_info {
    color: var(--white);
    padding: var(--padding); 
    border: 5px solid var(--light-grey);
}

section#server_info {
    margin-top: var(--margin);
}

@media only screen and (max-width: 768px) {
    section#website_info, section#server_info {
        width: 100%;
        border: 3px solid var(--light-grey);
    }
    section#website_info a, section#server_info a{
        font-size: 3vw;
    }
    section#website_info p, section#server_info p {
        font-size: 2vw;
    }
}